div{
    background-color: rgb(255, 0, 0);
    height: 100px;
    display: inline-block;

}
#div1{
    width: 100px;
}
#link{
    text-decoration: none;
}
span{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}