#menu{
    display: inline-block;
}
#menu button{
    padding: 10px 15px;
    background-color: hsl(0, 0%, 80%);
    border: none;
    cursor: pointer;
    color: white;
}
#menu a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px 15px;
}
#menu #conteudo{
    display: none ;
    position: absolute;
    background-color: hsl(0, 0%, 91%);
    min-width: 100px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.808);
}
#menu:hover #conteudo{
    display: block;
}
#conteudo a:hover{
    background-color: hsl(0, 0%, 75%);
}
#menu button:hover{
    background-color: grey;
}