jjh1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: hsl(80, 46%, 70%);
}
p::selection{
    background-color: rgb(31, 31, 31);
    color: green;
}
#maçã::after{
    content:" 🍎"
}
#laranja::after{
    content:" 🍊"
}
#banana::after{
    content:" 🍌"
}
#fruta li::marker{
    content:"✔";
    color: greenyellow;
    font-size: 2.1em;
}
